body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    padding: 10px;
    margin-top: 10px;
    display: block;
    width: 375px;
    font-size: 16px; /* Increase font size */
}

button {
    background-color: #5A9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Increase button font size */
    border-radius: 20px; /* Make buttons rounded */
    width: 100%; /* Fixed width for buttons */
    padding: 10px 0;
}

button:hover {
    background-color: #488;
}

#patientList div {
    padding: 10px;
    background: #fff;
    margin-top: 10px;
    border-radius: 8px;
}

#patientList button {
    background-color: #d9534f;
    margin-top: 10px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 20px; /* Make remove buttons rounded */
    cursor: pointer;
    width: auto; /* Fixed size for remove buttons */
}

#patientList button:hover {
    background-color: #c9302c;
}

h1, h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

